.money-bag-icon{
  width:73px;
  margin-left:10px;
}

.pokedex-icon{
  width:92px;
}

.hub-shop-title{
  font-size:2.5rem;
  margin:0 170px 0 0;
  color:white;
}

.coin-icon{
  width:42px;
}

.red-sprite{
  width:62px;
  margin-right:10px;
}

.team-sprite{
  width:125px;
}