#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-container{
  background-color:#D9D9D9;
  width: 944px;
  height: 708px;
}

 body{
  display:flex;
  justify-content:center;
 }